---
import {Icon} from "astro-icon";
---
<footer class="w-full bg-black lg:flex justify-center px-6 py-3 lg:max-w-none lg:px-8 lg:py-5 mx-auto mt-8 lg:mt-0 border-x-transparent border-t-[0.75px] border-t-primary rounded-b-none">
    <div class="w-1/2 mx-auto lg:mx-0 lg:w-1/5 flex justify-between mt-5 py-3 lg:mt-0">
        <a href="mailto:aitorscinfo@gmail.com">
            <Icon name="bi:envelope" class="w-6 h-6 lg:w-[1.4rem] lg:h-[1.4rem] inline-block text-primary md:w-8 md:h-8 hover:opacity-70" />
        </a>
        <a href="https://www.twitter.com/aitorsci" target="_blank" rel="noopener noreferrer">
            <Icon name="iconoir:twitter" class="w-6 h-6 lg:w-[1.4rem] lg:h-[1.4rem] inline-block text-primary md:w-8 md:h-8 hover:opacity-70" />
        </a>
        <a href="https://linkedin.com/in/aitorscinfo" target="_blank" rel="noopener noreferrer">
            <Icon name="bi:linkedin" class="w-6 h-6 lg:w-[1.4rem] lg:h-[1.4rem] inline-block text-primary md:w-8 md:h-8 hover:opacity-70" />
        </a>
        <a href="https://github.com/Sstark97" target="_blank" rel="noopener noreferrer">
            <Icon name="icon-park:github" class="w-6 h-6 lg:w-[1.4rem] lg:h-[1.4rem] inline-block fill-primary md:w-8 md:h-8 hover:opacity-70" />
        </a>
    </div>
</footer>