---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/astro/Profile.astro';
---

<Layout title="Aitor Santana Cabrera">
    <section class="flex flex-col p-3 pt-20 pb-5 md:p-20 md:pb-3 lg:flex-row lg:pt-28 lg:pb-16">
        <Profile />
        <div class="flex flex-col justify-center text-center lg:w-1/2 lg:text-left">
            <p class="text-2xl mt-6 font-bold lg:px-6 lg:py-2 lg:text-4xl">Hola, soy Aitor Santana, Desarrollador de Software</p>
            <p class="text-lg px-6 py-3 lg:py-2 opacity-90">
                Puedo decir que tengo la suerte de trabajar en lo que me apasiona, el desarrollo de software.
                A lo largo de mi trayectoria profesional he aprendido a desarrollar en diferentes lenguajes de programación
                y frameworks, como Java, Python, TypeScript, Spring Boot, Flask, Angular, React, Next.js, etc.
            </p>
            <p class="text-lg px-6 py-3 lg:py-2 opacity-90">
                En los últimos meses me he preocupado por aprender a escribir <strong>código limpio</strong>, y como
                hacer que el <strong>código sea mantenible.</strong>
                Para ello he estado aprendiendo <strong>TDD</strong>, <strong>código sostenible</strong>,
                <strong>patrones de diseño</strong>, <strong>arquitecturas limpias</strong>, y muchas
                otras herramientas que me ayuden a mejorar en desarrollar mejor software.
            </p>
            <p class="text-lg px-6 py-3 lg:py-2 opacity-90">
                Estas metodologías puedo aplicarlas en <a class="text-primary font-semibold hover:opacity-80" href="https://leanmind.es/es/">Lean Mind</a>, donde trabajo
                actualmente, con un gran equipo de personas que me ayudan a crecer como profesional y como persona,
                impulsándome y motivándome para dar lo mejor de mí cada día.
            </p>
        </div>
    </section>
</Layout>
