---
import NavBar from "../components/astro/NavBar.astro";
import { ViewTransitions } from 'astro:transitions';
import Footer from "../components/astro/Footer.astro";
interface Props {
	title: string;
	canonical?: string;
}

const { title, canonical } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
		{canonical ? <link rel="canonical" href={canonical} /> : null}
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="flex flex-col min-h-screen bg-black text-white scrollbar scrollbar-thumb-primary scrollbar- scrollbar-w-2 scrollbar-corner-rounded-xl">
		<NavBar />
			<main class="flex-1">
				<slot />
			</main>
	    <Footer />
	</body>
</html>
<style is:global>
</style>
