---
import {ViewTransitions} from 'astro:transitions';
import {SEO} from "astro-seo";
import NavBar from "@components/astro/NavBar.astro";
import Footer from "@components/astro/Footer.astro";
interface Props {
    title: string;
    description?: string;
    canonical?: string;
}

const defaultDescription = "Soy Aitor Santana, un apasionado Desarrollador de Software con experiencia en múltiples lenguajes y frameworks, como Java, Python, TypeScript, Spring Boot, Flask, Angular, React, Next.js, entre otros. Me enfoco en escribir código limpio y mantenerlo sostenible, aplicando metodologías como TDD, patrones de diseño y arquitecturas limpias. Actualmente, trabajo en Lean Mind, donde colaboro con un equipo excepcional que me impulsa a crecer tanto profesional como personalmente.";
const {title, description, canonical} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <SEO
            title={title}
            description={description ?? defaultDescription}
            openGraph={{
                basic: {
                    title,
                    description,
                    siteName: "ascinfo.dev",
                    type: 'website',
                    image: 'https://i.imgur.com/2t1lL2k.png',
                }
            }}
            twitter={{
                creator: "@aitorsci"
            }}
            extend={{
                link: [{rel: "icon", href: "/favicon.svg"}],

                meta: [
                    {
                        name: "twitter:image",
                        content: "/images/aitor-profile.webp",
                    },
                    {name: "twitter:title", content: title},
                    {name: "twitter:description", content: description},
                ],
            }}
            canonical={canonical}
            charset="UTF-8"
    />
    <meta name="viewport" content="width=device-width"/>
    <ViewTransitions/>
</head>
<body class="flex flex-col min-h-screen bg-black text-white scrollbar scrollbar-thumb-primary scrollbar- scrollbar-w-2 scrollbar-corner-rounded-xl">
<NavBar/>
<main class="flex-1">
    <slot/>
</main>
<Footer/>
</body>
</html>
<style is:global>
    ::-webkit-scrollbar {
        height: .6rem;
    }

    ::-webkit-scrollbar-track {
        background: #2a2a2a;
    }

    ::-webkit-scrollbar-thumb {
        background: #00DFFC;
    }
</style>
